@import url("fonts.css");

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #141414;
}

.container {
    width: 1170px;
}

.container-fluid {
    width: 100%;
}


.w30 {
    width: 430px;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-column-rev {
    flex-direction: column-reverse;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.align-items-stretch {
    align-items: stretch;
}

.flex-wrap {
    flex-wrap: wrap;
}

.mt1 {
    margin-top: 10px;
}

.mt2 {
    margin-top: 20px;
}

.mt3 {
    margin-top: 30px;
}

.mt4 {
    margin-top: 40px !important;
}

.mt100 {
    margin-top: 100px;
}

.mt5 {
    margin-top: 50px !important;
}

.mb100 {
    margin-bottom: 100px;
}

.bg-gray {
    background: #1f1f1f;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    flex-grow: 0;
    height: 100px;
}

.nav-link {
    text-decoration: none;
    color: #f0f0f0;
    font-size: 16px;
    margin: 0 10px;
    font-family: "Golos-Text_Regular";
}

.brand {
    margin-right: 10px;
}

.nav-button {
    text-decoration: none;
    color: #f0f0f0;
    font-size: 14px;
    margin: 0 10px;
    font-family: "Golos-Text_Regular";
}

.button > * {
    margin: 0 2px;
}

.footer {
    display: flex;
    justify-content: center;
    flex-grow: 0;
    height: 80px;
    background-color: #1f1f1f;
}

.texts * {
    color: #f0f0f0;
    font-size: 12px;
    margin-right: 20px;
    font-family: "Golos-Text_Regular";
}

.icon {
    margin: 0 5px;
    cursor: pointer;
}

.big-film-info {
    height: 600px;
    background-image: url("../img/1.jpg");
    border-radius: .5rem;
}

.big-film-info-container > * {
    margin: 5px 0;
}

.big-film-info-container {
    margin: 5%;
}

.big-film-info-title {
    font-family: "Golos-Text_Bold";
    font-size: 50px;
    color: #f0f0f0;
}

.rating {
    font-family: "Golos-Text_DemiBold";
    color: #f0f0f0;
}

.data > * {
    margin: 0 5px;
}

.data-text {
    font-family: "Golos-Text_Regular";
    font-size: 14px;
    color: #909090;
}

.age {
    border: 1px #313131 solid;
    border-radius: .25rem;
    padding: 1px 3px;

}

.age * {
    font-size: 12px;
}

.big-film-info-about {
    width: 80%;
    font-family: "Golos-Text_Regular";
    color: #f0f0f0;
}

.button {
    margin-right: 20px;
    text-decoration: none;
    color: #f0f0f0;
    font-family: "Golos-Text_DemiBold";
    font-size: 14px;
    padding: 20px 22px;
    background: linear-gradient(to right, #0052d4, #6fb0fc);
    border-radius: .5rem;
}

.dark-button {
    background: linear-gradient(to right, rgba(0, 82, 212, .2), rgba(111, 176, 252, .2)
    );
}

.suggestion-tittle {
    font-family: "Golos-Text_Bold";
    font-size: 40px;
    color: #f0f0f0;
}

.suggestions {
    flex-wrap: wrap;
}


.suggestion {
    width: 270px;
}

.suggestion-image {
    height: 270px;
    width: 100%;
    object-fit: cover;
    border-radius: .4rem;
}

.suggestion-name {
    font-family: "Golos-Text_DemiBold";
    font-size: 16px;
    color: #f0f0f0;
}

.big-film-info-2 {
    height: 500px;
    background-image: url("../img/6.jpg");
    border-radius: .5rem;
}

.weekly-film-main-short-description {
    width: 470px;
}

.weekly-film-main-img {
    width: 670px;
}

.weekly-film-main-img img {
    border-radius: .5rem;

}

.weekly-film .big-film-info-about {
    width: 100%;
}

.weekly-film-price {
    font-family: "Golos-Text_Bold";
    font-size: 40px;
    color: #f0f0f0;
}

.status {
    text-align: center;
    width: 170px;
    font-family: "Golos-Text_Bold";
    font-size: 12px;
    color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 2rem;
    background: linear-gradient(to right, #ff512f, #f09719);
}

.description-toggle {
    width: 50%;
}

.toggle-text {
    padding-bottom: 5px;
    font-family: "Golos-Text_Bold";
    font-size: 14px;

    cursor: pointer;
}

.active {
    color: #f0f0f0;
    border-bottom: #6fb0fc solid 1px;
}

.inactive {
    color: #f0f0f0;
    opacity: .3;
}

.weekly-film-image-group {
    width: 670px;
}

.image-card {
    width: 320px;
    height: 160px;
}

.image-card img {
    object-fit: cover;
    border-radius: .3rem;
}

.livetv-about {

    font-family: "Golos-Text_Bold";
    font-size: 30px;
    color: #f0f0f0;
}

.livetv-color-text {
    font-family: "Golos-Text_Bold";
    font-size: 40px;
    background: linear-gradient(to right, #0052d4, #6fb0fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtext {
    font-family: "Golos-Text_Regular";
    color: #f0f0f0;
}

.livetv {
    width: 570px;
}

.livetv .big-film-info-about {
    width: 100%;
}

.livetv-color-texts {
    width: 90%;
}

.subscribe-text {
    width: 570px;
}

.subscribe-form {
    width: 470px;
}

.subscribe-price {
    width: 570px;
}

.subscribe-form label {
    font-family: "Golos-Text_Regular";
    color: #f0f0f0;
}

.subscribe-form input[type=text] {
    height: 50px;
    padding: 10px 20px;
    background: none;
    border: #565656 solid 1px;
    color: #f0f0f0;
    outline: none;
    transition: .1s;

}

.subscribe-form input[type=text]:focus {
    transition: .1s;
    transform: scale(1.05);
}

.radio-group {
    margin-right: 15px;
}

.subscribe-form input[type=radio] {
    accent-color: #f0f0f0;
    margin-right: 5px;
    transform: scale(1.1);
}